<table>
  <tr>
    <th>Вопрос</th>
    <th colspan="2">Действия</th>
  </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.text %></td>
      <td><%= link_to 'Изменить', edit_test_question_path(@test, question) %></td>
      <td><%= link_to 'Удалить', test_question_path(@test, question), method: :delete %></td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to 'Создать', new_test_question_path(@test) %>
</p>
<%= link_to 'К списку тестов', tests_path %>
