<h3><%= t(:test) %> <%= @test_passage.test.title %> <%= t(:finished) %></h3>

<p>
  <%= t(:test_solved_by) %>
  <span class=<%= @test_passage.success? ? 'success-test' : 'failed-test' %>>
  <%= @test_passage.success_percent %>%
</span>
</p>
<p>
  <% if @test_passage.success? %>
    Успех!
  <% else %>
    Провал...
  <% end %>
</p>
<br/>
<%= link_to t(:go_to_tests), tests_path %>