<h1><%= t(:pass_the_test, title: @test_passage.test.title) %></h1>

<p id="test_passage_end_at" class="hide"><%= @test_passage.end_at.present? ? to_millis(@test_passage.end_at) : 'no_timer' %></p>

<h4>
  <span id="testing_timer"></span>
</h4>

<p>
  <progress max="<%= @test_passage.questions_count %>" value="<%= @test_passage.current_question_number - 1 %>">
    <%= @test_passage.current_question_number %>
    /
    <%= @test_passage.questions_count %>
  </progress>
</p>

<b>
  <%= @test_passage.current_question.text %>
</b>

<%= render @test_passage, test_passage: @test_passage %>