<h1>Pass the <%= @test_passage.test.title %> Test</h1>

<%= @progress.question_number %>/<%= @progress.questions_count %>
<b>
  <%= @test_passage.current_question.text %>
</b>

<%= render @test_passage, test_passage: @test_passage %>