<%= render @question, without_link: true %>
<br/>
<h1>Ответы</h1>
<p>
  <%= link_to t(:create_new), new_admin_question_answer_url(@question) %>
</p>

<table>
  <tr>
    <th><%= t(:text) %></th>
    <th><%= t(:correctness) %></th>
    <th colspan="2"><%= t(:actions) %></th>
  </tr>
  <%= render @answers %>
</table>
<%= link_to 'Назад', admin_test_path(@question.test) %>