<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<h2>Questions</h2>

<p>
  <%= link_to 'Добавить вопрос', new_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th>Текст вопроса</th>
    <th colspan="2">Действия</th>
  </tr>
  <%= render partial: 'questions/question', collection: @test.questions %>
</table><br>

<%= link_to 'Изменить', edit_admin_test_path(@test) %>
<%= link_to 'Назад', admin_tests_path %>