<p>
  <strong><%= t(:title) %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t(:level) %>:</strong>
  <%= @test.level %>
</p>

<h2><%= t(:questions) %></h2>

<p>
  <%= link_to t(:create_new), new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th><%= t(:text) %></th>
    <th colspan="2"><%= t(:actions) %>></th>
  </tr>
  <%= render @test.questions %>
</table><br>

<%= link_to t(:edit), edit_admin_test_path(@test) %>
<%= link_to t(:back), admin_tests_path %>