<p>
  <%= link_to t('badge.open'), badges_path %>
</p>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t(:test) %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %></th>
    <th><%= t(:level) %></th>
    <th><%= t(:questions_count) %></th>
    <th><%= t(:actions) %></th>
  </tr>
  <%= render @tests %>
</table>